// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;


$dark-theme-background: #121212;
$dark-theme-secondary-background: #272727;
$dark-primary-color: #81dddc;
$dark-secondary-color: #70dcc4;

$primary-dark-color: #7f449d;
$secondary-dark-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
